<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237640279761-9ni853ehfhkun2mvc4ln8da3g34ihndo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237640279761-9ni853ehfhkun2mvc4ln8da3g34ihndo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>237640279761-cc6lrke2q08a5t07p6smfvmuihqtfuro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD16OVTG3mmsa53dYg78fXYzogymGGu5Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>237640279761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.merhabaApp</string>
	<key>PROJECT_ID</key>
	<string>merhaba-93ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>merhaba-93ddb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237640279761:ios:d87bb4f75431ef56dc07f0</string>
	<key>DATABASE_URL</key>
	<string>https://merhaba-93ddb-default-rtdb.firebaseio.com</string>
</dict>
</plist>
